.img {
  width: 33%;
}
.MovieDetailsContainer {
  display: flex;
  justify-content: center;
}

.MovieDetails {
  background-color: rgb(237, 240, 252);
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.favoriteButton {
  background-color: #222222;
}
