.Navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 93, 129, 1) 80%,
    rgba(14, 98, 138, 1) 100%
  );
  min-height: 20vh;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarTitle {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 3rem;
  place-content: flex-start;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 6px;
  margin: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font: inherit;

  &.submitBtn {
    background-color: #222;
  }
}
