ul {
  list-style-type: circle;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  flex: 1 1 18%;
  box-sizing: border-box;
  margin: 10px;
  max-width: 18vw;
}

p {
  color: #222;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

.favoritesList {
  display: flex;
  flex-direction: column;
}

.favoriteMovie {
  background-color: rgb(212, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #d4d4d4;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  max-width: 15vw;
}
img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
