.searchResults {
  display: flex;
  flex-direction: column;
}
.searchResultsList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}
.searchResultsItem {
  flex: 1 1 25%;
  max-width: 20%;
  box-sizing: border-box;
  margin: 10px;
}

.searchResultsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
