.searchResults {
  display: flex;
  flex-direction: column;
}
.searchResultsWithContent {
  min-height: 100vh;
}
.searchResultsEmpty {
  max-height: 100px;
}
.searchResultsList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 100vh;
}
.searchResultsItem {
  flex: 1 1 25%;
  max-width: 20%;
  box-sizing: border-box;
  margin: 10px;
}

.searchResultsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.prevResButton,
.nextResButton {
  background-color: #222;
  margin: 10px;
}
