.topMoviesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.topMovies {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  overflow: visible;
  width: 100%;
  position: relative;
}

.topMoviesList {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.topMoviesItem {
  min-width: 200px;
  max-width: 200px;
  flex-shrink: 0;
  text-align: center;
  margin-right: 10px;
}

.imgTopMovies {
  max-width: 100%;
  border-radius: 5px;
}
